{% extends 'admin/layout.html.twig' %}

{% block title %}Ajouter une Pharmacie{% endblock %}

{% block content %}
    <div class="pharmacie-container">
        <h1>Ajouter une Pharmacie</h1>
        {{ form(form, { 'attr': {'novalidate': 'novalidate'} }) }}
    </div>
{% endblock %}
